<%- include("partials/header") %>
<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="title" class="form-label">Title</label>
    <input class="form-control" type="text" id="title" name="title">

    <label for="post" class="form-label">Post</label>
    <textarea class="form-control" name="post" id="post" cols="30" rows="10"></textarea>
    <div class="mt-2">
        <button class="btn btn-primary" type="submit">Publish</button>
    </div>
</form>
<%- include("partials/footer") %>
